<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="environment" value="INT" />
    <parameter name="application" value="THB" />
    <test verbose="2" preserve-order="true" name="C:/Users/adity/workspace/cucumber-project">
    <classes>
        <class name="com.ntrs.thb.TestOutbound"/>
    </classes>
</test>
</suite>



